* {
	background: url(images/outerspace_landscape.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav {
		position: fixed;
		background-color: grey;
		padding-left: 60px;
		padding-right: 60px;
		width: 100%;
}

/* why is this broken below? 
html { 
  background: url(images/outerspace_landscape.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/


.icon {
	display: inline-block;
	border-radius: 50%;
	max-height: 50px;
}
.nav-link-set {
	display: inline-block;
	bottom: 25px;
}
.navlink1 {
	display: inline-block;
}
.navlink2 {
	display: inline-block;
}
.navlink3 {
	display: inline-block;
}

.greenbox {
	position: relative;
	height: 300px;
	width: 600px;
	border: 10px green dotted;
	top: 200px;
	margin:auto;
}
.cat {
		position: relative;
		bottom: 130px;
		right: 30px;
}
.dog {
	position: relative;
	left: 475px;
	bottom: 50px;

}